.main {
    color: white !important;
    font-family: 'Montserrat' !important;
    background: #FC5E08 !important;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.23);
    border-radius: 0 !important;
}
.main:hover {
    background: #eb5200 !important;
}