.main {
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../Assets/images/admin_bg.jpg");
    background-size: cover;
}