
.burger svg {
    font-size: 2rem;
    color: #FC5E08
}
.menuItems {
    display: flex;
    flex-direction: column;
}
.menuItems button {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 10px 0;
}
.closeBut {
    width: max-content;
    align-self: flex-end;
}
.closeBut svg {
    font-size: 2rem;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    width: 60vw !important;
    overflow:scroll;
    padding-top: 10px;
    box-sizing: border-box;
}
.footer {
    height: 60px;
}
.footer button {
    color: #2f2f2f
}
.activeLang {
    color: #C20000 !important
}
.footer svg path{
    color: #FC5E08
}

@media screen and (max-width: 468px) {
    .body {
        width: 80vw !important;
    }
}

@media screen and (max-width: 380px) {
    .body {
        width: 85vw !important;
    }
}