.main {
    background-color: #DFDFDF;
    display: flex;
    flex-direction: column;
}
.main img {
    object-fit: cover;
}
.info {
    padding: 20px 25px;
}
.info p {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}