.socialItems {
    display: flex;
    align-items: center;
    z-index: 1;
}
.socialItems a {
    margin-right: 15px;
    transition-duration: .3s;
    color: white;
}
.socialItems svg path {
    transition-duration: .3s;
}
.socialItems a:hover svg path {
    /* fill: #FC5E08; */
    color: #FC5E08
}