.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* HOME */

.spy {
    top: 35%;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8%;
    background-image: url("../../Assets/images/main_home_bg.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
}
.micro {
    width: 30vw;
    margin-top: 8%;
}
.slogan {
    width: 30vw;
}
.orderContainer {
    width: 20vw;
    margin-left: 2%;
}

/* WE */

.we {
    width: 100%;
    /* height: 100vh; */
    /* background: #474444; */
    background-image: url("../../Assets/images/we_back.svg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
}
.weTitleContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
}

.weTitleContainer p {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
}

.we h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: 50px;
    margin-block-end: 20px;
}
.merities {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    gap: 5%;
    margin-top: 130px;
}
.meritie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 260px;
    width: 260px;
    text-align: center;
    margin: 70px 50px;
}
.meritie img {
    z-index: 2;
}
.meritie span {
    width: 80%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
}
.meritie label {
    position: absolute;
    top: -120px;
    left: -45px;
    background-image: linear-gradient(80deg, rgba(252, 94, 8, 1),rgba(251, 223, 155, 1));
    font-weight: 500;
    font-size: 200px;
    line-height: 244px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    z-index: 0;
    
}
.meritieBack {
    background: rgba(223, 223, 223, 0.1);
    height: 260px;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    z-index: 1;
}


/* SERVICES */

.services {
    background-image: url("../../Assets/images/services_bg.svg");
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesContainer {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

/* DOUBLE BLOCK */

.doubleBlock {
    width: 100%;
    display: flex;
}
.doubleSide {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemsWrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 150px;
    z-index: 2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 17px;
}
.vinyl {
    position: absolute;
    left: -100px;
}
.lookAll {
    box-shadow: none;
    margin-top: 80px !important;
    margin-bottom: 67px !important;
    padding: 15px !important;
    box-sizing: border-box;
}
.doubleSide h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 45px;
    margin-block-start: 90px;
}

/* NEWS */
.news {
    background-color: #E4E4E4;
}
.news h2 {
    color: #FC5E08;
}
.newsLines {
    position: absolute;
    top: 45%;
}


/* RELEASES */
.releases {
    background-color: #474444;
    padding-bottom: 80px;
}
.releases h2 {
    color: white;
}
.releasesLines {
    position: absolute;
    top: 35%;
    left: -35px;
}
.genreButtons {
    width: max-content;
    display: flex;
    justify-content: space-between;
}
.genreButtons button {
    margin: 0 10px;
}
.itemsWrapper {
    width: 70%;
    margin-top: 30px;
}
.genreButtons button {
    width: fit-content;
    background-color: #FC5E08;
    color: white;
    border-radius: 0;
    font-family: 'Montserrat' !important;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.23);
}
.genreButtons button:hover {
    background-color: #eb5200;
}
.activeGenre {
    background-color: white !important;
    color: #FC5E08 !important;
}


@media (prefers-reduced-motion: no-preference) {
    .activeVinyl {
        animation: vin-spin infinite 8s linear;
    }
}

@keyframes vin-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* REVIEWS */

.reviews {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 70px 150px;
    box-sizing: border-box;
}
.coma {
    position: absolute;
    top: 2%;
    left: 5%;
}
.reviews h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 115px;
    margin-block-start: 0;
}
.reviewsWrapper {
    width: 100%;
    height: 380px;
    max-width: 80%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 70px;
    overflow-y: hidden;
    justify-content: space-between;
    gap: 100px;
    padding: 0 10px;
    cursor: move;
}

.reviewsWrapper::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }
   
.reviewsWrapper::-webkit-scrollbar-track {
    box-shadow: 0
}
   
.reviewsWrapper::-webkit-scrollbar-thumb {
    background-color: #FC5E08;
}

.makeReviewBut {
    text-align: center;
    letter-spacing: 0.125em !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px;
    padding: 14px !important;
    margin-top: 50px !important;
}
.releases {
    width: 100%;
}
/* ABOUT */
.about {
    width: 100%;
    max-width: 100%;
    background-color: black;
    position: relative;
}
.about h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 45px;
    margin-block-start: 45px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.aboutSliderContainer {
    height: 60%;
}
.aboutBack {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutBack img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .6;
}
.aboutTextContainer {
    width: 40%;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    padding: 15px 35px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 10%;
    filter: blur(none);
    box-shadow: 0 0 18px -2px white;
}

.sliderAbout > div > div > div {
    transform: scale(1) !important;
    filter: blur(15px);
}

.sliderAbout ul {
    bottom: -5vh !important;
}

.aboutText {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 139.4%;
}


/* ORDER */
.order {
    width: 100%;
    background-image: url("../../Assets/images/order_bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    overflow-y: hidden;
}
.order div {
    margin-left: 0;
}

.order h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 49px;

    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: white;
    margin-block-end: 50px;
}

/* PARTNERS */

.partners {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;   
    background-image: url('../../Assets/images/client_bg.jpg');
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.partners h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 65px;
    margin-block-start: 3%;
    text-align: center;
    color: #FC5E08;
    z-index: 1;
}
.partnersSliderContainer {
    margin-top: auto;
    margin-bottom: 0%;
    width: 50%;
    height: 26vh;
    position: relative;
    left: -15px;
    top: 10px;
}
/* .partnersSliderContainer div {
    height: fit-content;
} */
.partner {
    width: 100px !important;
    filter: grayscale(1);
    transition-duration: .3s;
}
.partnersSliderContainer > div > div > div > div {
    opacity: 1 !important;
}

.partnersSliderContainer > div > div > div {
    height: fit-content;
}

/* MAP */

.map {
    width: 100%;
}
.map iframe {
    width: 100%;
    height: 450px;
    border: 0
}

@media screen and (max-width: 1500px) {
    .merities {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .itemsWrapper {
        width: 100%;
    }
    .reviewsWrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .about h2 {
        margin-block-end: 25px;
        margin-block-start: 25px;
    }
    .aboutText {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .home {
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        background-position: bottom;
    }
    .orderContainer {
        margin-left: 0;
        margin-top: 15%;
        width: 50%;
    }
    .slogan {
        width: 52vw;
    }
    .micro {
        position: absolute;
        left: 0;
        top: 31%;
    }
    .aboutTextContainer {
        margin-left: 0;
        margin-right: 0;
        width: 75%;
    }
    .genreButtons {
        display: flex;
        width: 71%;
        flex-wrap: wrap;
        flex: 0 0%;
        justify-content: flex-start;
        gap: 18px;
    }
    .genreButtons button {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .reviews {
        padding: 70px;
    }
    .reviewsWrapper {
        padding-bottom: 50px;
        height: max-content;
    }
    .itemsWrapper {
        padding: 0 16%;
    }
    .micro {
        display: none;
    }
}

@media screen and (max-width: 556px) {
    .slogan {
        width: 65vw;
    }
    .about h2 {
        font-size: 26px;
    }
    .aboutText {
        font-size: 14px;
    }
    .vinyl {
        left: -30px;
        transition-duration: .5s;
    }
    .activeVinyl {
        left: -50px
    }
    .genreButtons {
        width: 95%;
        justify-content: center;
    }
    .reviews h2 {
        margin-block-end: 75px;
    }
}