.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* HOME */

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8%;
    background-image: url("../../Assets/images/main_home_bg.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
}
.micro {
    width: 30vw;
    margin-top: 8%;
}
.slogan {
    width: 30vw;
}
.orderContainer {
    width: 20vw;
    margin-left: 2%;
}

/* WE */

.we {
    width: 100%;
    /* height: 100vh; */
    /* background: #474444; */
    background-image: url("../../Assets/images/we_back.svg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
}
.weTitleContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
}

.weTitleContainer p {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
}

.we h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: 50px;
    margin-block-end: 20px;
}
.merities {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    gap: 5%;
    margin-top: 130px;
}
.meritie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 260px;
    width: 260px;
    text-align: center;
    margin: 70px 50px;
}
.meritie img {
    z-index: 2;
}
.meritie span {
    width: 80%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
}
.meritie label {
    position: absolute;
    top: -120px;
    left: -45px;
    background-image: linear-gradient(80deg, rgba(252, 94, 8, 1),rgba(251, 223, 155, 1));
    font-weight: 500;
    font-size: 200px;
    line-height: 244px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    z-index: 0;
    
}
.meritieBack {
    background: rgba(223, 223, 223, 0.1);
    height: 260px;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    z-index: 1;
}


/* SERVICES */

.services {
    background-image: url("../../Assets/images/services_bg.svg");
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesContainer {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

/* DOUBLE BLOCK */

.doubleBlock {
    width: 100%;
    display: flex;
}
.doubleSide {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemsWrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 150px;
    z-index: 2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 17px;
}
.vinyl {
    position: absolute;
    left: -100px;
}
.lookAll {
    box-shadow: none;
    margin-top: 80px !important;
    margin-bottom: 67px !important;
    padding: 15px !important;
    box-sizing: border-box;
}
.doubleSide h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 45px;
    margin-block-start: 90px;
}

/* NEWS */
.news {
    background-color: #E4E4E4;
}
.news h2 {
    color: #FC5E08;
}
.newsLines {
    position: absolute;
    top: 45%;
}


/* RELEASES */
.releases {
    background-color: #474444;
}
.releases h2 {
    color: white;
}
.releasesLines {
    position: absolute;
    top: 25%;
    left: -35px;
}

/* REVIEWS */

.reviews {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 70px 150px;
    box-sizing: border-box;
}
.coma {
    position: absolute;
    top: 2%;
    left: 5%;
}
.reviews h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 115px;
    margin-block-start: 0;
}
.reviewsWrapper {
    width: 100%;
    height: 380px;
    max-width: 80%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 70px;
    overflow-y: hidden;
    justify-content: space-between;
    gap: 100px;
    padding: 0 10px;
}

.reviewsWrapper::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }
   
.reviewsWrapper::-webkit-scrollbar-track {
    box-shadow: 0
}
   
.reviewsWrapper::-webkit-scrollbar-thumb {
    background-color: #FC5E08;
}

.makeReviewBut {
    text-align: center;
    letter-spacing: 0.125em !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px;
    padding: 14px !important;
    margin-top: 50px !important;
}

/* ABOUT */
.about {
    width: 100%;
    max-width: 100%;
    background-color: #DFDFDF;

}
.about h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-block-end: 65px;
    margin-block-start: 45px;
    text-align: center;
}
.aboutSliderContainer {
    height: 560px;
}
.aboutSliderContainer .slick-list .slick-track .slick-slide {
    transform: scale(1) !important;
}
.sliderAbout > div > div > div{
    transform: scale(1) !important;
}

@media screen and (max-width: 1500px) {
    .merities {
        width: 100%;
    }
}